extends base.pug


block content 
    video(src=`/${video.fileUrl}` , width="500", height="300", controls)
    div
        p=video.description
        small=video.createdAt
    div
        smalee Uploaded by #{owner.name}
    if(String(loggedInUser._id) === String(video.owner))
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;