extends base.pug


block content 
    video(src=`/${video.fileUrl}` , width="500", height="300", controls)
    div
        p=video.description
        small=video.createdAt
    div
        small Uploaded by 
            a(href=`/users/${video.owner._id}`)=video.owner.name
    if(String(loggedInUser._id) === String(video.owner._id))
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;