extends base.pug

block content 
    video(src=`/${video.fileUrl}`).video__size
    div    
        button#play Play
        button#mute Mute 
        input(type="range",step="0.1", min="0", max="1", vaule="0.5")#volume
        div 
            span#currentTime 00:00
            span / 
            span#totalTime 00:00
        div
            input(type="range",step="1", min="0", value="0")#timeline
        
    //-
        div
            p=video.description
            small=video.createdAt
        div
            small Uploaded by 
                a(href=`/users/${video.owner._id}`)=video.owner.name
        if(String(loggedInUser._id) === String(video.owner._id))
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video &rarr;
block scripts
    script(src="/static/js/videoPlayer.js") 