extends base.pug


block content 
    video(src=`/${video.fileUrl}` , width="500", height="300", controls)
    div
        p=video.description
        small=video.createdAt
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;